@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 15% 98%;
        --foreground: 210 15% 10%;
        --card: 210 15% 99%;
        --card-foreground: 210 15% 10%;
        --popover: 210 15% 99%;
        --popover-foreground: 210 15% 10%;
        --primary: 200 20% 45%;
        --primary-foreground: 200 20% 98%;
        --secondary: 180 10% 92%;
        --secondary-foreground: 180 10% 10%;
        --muted: 210 15% 90%;
        --muted-foreground: 210 15% 40%;
        --accent: 240 15% 55%;
        --accent-foreground: 240 15% 98%;
        --destructive: 0 60% 50%;
        --destructive-foreground: 0 60% 98%;
        --border: 210 15% 85%;
        --input: 210 15% 85%;
        --ring: 200 20% 45%;
        --radius: 0.5rem;
        --chart-1: 200 20% 45%;
        --chart-2: 180 10% 75%;
        --chart-3: 240 15% 55%;
        --chart-4: 160 20% 50%;
        --chart-5: 30 15% 60%;
        --radius: 0.5rem;
        --sidebar-background: 229 57% 100%;
        --sidebar-foreground: 229 63% 4%;
        --sidebar-primary: 229 100% 62%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 200 20% 45%;
        --sidebar-accent-foreground: 210 15% 98%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 229 100% 62%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    *::-webkit-scrollbar {
        @apply w-1;
    }
    *::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    *::-webkit-scrollbar-thumb {
        @apply bg-foreground rounded;
    }
    body {
        @apply bg-background text-foreground;
    }
    header {
        height: var(--headerHeight);
    }
}

@layer components {
    .minHeight {
        min-height: calc(100vh - var(--headerHeight));
    }

    .hiddenScrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .customPadding {
        @apply px-2 sm:px-5 md:px-7 lg:px-10 py-2 sm:py-5 md:py-7 lg:py-10;
    }

    .socialLink {
        @apply w-fit h-11 mx-auto block border border-muted-foreground/15 rounded-[4px] hover:bg-muted-foreground/15 transition-colors duration-300;
    }

    .socialLink-content {
        @apply h-full flex space-x-3 items-center px-3;
    }
}

@layer utilities {
    :root {
        --headerHeight: 4rem;
    }
}
