@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 229 57% 100%;
        --foreground: 229 63% 4%;
        --muted: 229 12% 86%;
        --muted-foreground: 229 10% 37%;
        --popover: 0 0% 99%;
        --popover-foreground: 229 63% 3%;
        --card: 0 0% 99%;
        --card-foreground: 229 63% 3%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --primary: 229 100% 62%;
        --primary-foreground: 0 0% 100%;
        --secondary: 229 20% 90%;
        --secondary-foreground: 229 20% 30%;
        --accent: 229 28% 85%;
        --accent-foreground: 229 28% 25%;
        --destructive: 3 100% 50%;
        --destructive-foreground: 3 0% 100%;
        --ring: 229 100% 62%;
        --chart-1: 229 100% 62%;
        --chart-2: 229 20% 90%;
        --chart-3: 229 28% 85%;
        --chart-4: 229 20% 93%;
        --chart-5: 229 103% 62%;
        --sidebar-background: 229 57% 100%;
        --sidebar-foreground: 229 63% 4%;
        --sidebar-primary: 229 100% 62%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 229 28% 85%;
        --sidebar-accent-foreground: 229 28% 25%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 229 100% 62%;
    }

    [data-theme="dark"] {
        --background: 229 41% 4%;
        --foreground: 229 23% 99%;
        --muted: 229 12% 14%;
        --muted-foreground: 229 10% 63%;
        --popover: 229 41% 5%;
        --popover-foreground: 0 0% 100%;
        --card: 229 41% 5%;
        --card-foreground: 0 0% 100%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --primary: 229 100% 62%;
        --primary-foreground: 0 0% 100%;
        --secondary: 229 14% 8%;
        --secondary-foreground: 229 14% 68%;
        --accent: 229 23% 17%;
        --accent-foreground: 229 23% 77%;
        --destructive: 3 89% 54%;
        --destructive-foreground: 0 0% 100%;
        --ring: 229 100% 62%;
        --chart-1: 229 100% 62%;
        --chart-2: 229 14% 8%;
        --chart-3: 229 23% 17%;
        --chart-4: 229 14% 11%;
        --chart-5: 229 103% 62%;
        --radius: 0.5rem;
        --sidebar-background: 229 41% 6%;
        --sidebar-foreground: 229 23% 99%;
        --sidebar-primary: 229 100% 62%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 229 23% 17%;
        --sidebar-accent-foreground: 229 23% 77%;
        --sidebar-border: 215 27.9% 16.9%;
        --sidebar-ring: 229 100% 62%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    *::-webkit-scrollbar {
        @apply w-1;
    }
    *::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    *::-webkit-scrollbar-thumb {
        @apply bg-foreground rounded;
    }
    body {
        @apply bg-background text-foreground;
    }
    header {
        height: var(--headerHeight);
    }
}

@layer components {
    .minHeight {
        min-height: calc(100vh - var(--headerHeight));
    }

    .hiddenScrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .customPadding {
        @apply px-2 sm:px-5 md:px-7 lg:px-10 py-2 sm:py-5 md:py-7 lg:py-10;
    }

    .socialLink {
        @apply size-12 mx-auto border border-muted rounded-[8px] hover:bg-muted transition-colors duration-300 grid place-content-center;
    }

    .socialLink-content {
        @apply h-full flex space-x-3 items-center;
    }
}

@layer utilities {
    :root {
        --headerHeight: 4rem;
    }
}
